.dai-register-outer-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(72, 81, 102, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.dai-register-open{
    display: block;
}
.dai-register-close{
    display: none;
}

.dai-register-form{
    width: 27.5rem;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    z-index: 2;
    border-radius: 15px;
}

.dai-register-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.875rem;
}

.dai-register-title{
    font-size: 1.125rem;
    font-weight: 600;
}

.dai-register-cross-btn{
    font-size: 30px;
    color: var(--primary-color);
    cursor: pointer;
}

.dai-register-phno-input-container{
    width: 100%;
    height: 40px;
    position: relative;
    margin-bottom: 1.875rem;
}

.dai-phno-input{
    width: 100%;
    height: 100%;
    padding-left: 80px;
    border: 3px solid var(--primary-color);
    border-radius: 5px;
}

.dai-register-phno-input-container p{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 0.875rem;
    font-weight: 500;
    color: #676974;
}

.dai-register-name-input-container{
    width: 100%;
    height: 40px;
    position: relative;
    margin-bottom: 1.875rem;
}

.dai-name-input{
    width: 100%;
    height: 100%;
    padding-left: 80px;
    border: 3px solid var(--primary-color);
    border-radius: 5px;
}

.dai-register-name-input-container p{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 0.875rem;
    font-weight: 500;
    color: #676974;
}

.dai-register-pw-input-container{
    width: 100%;
    height: 40px;
    position: relative;
    margin-bottom: 1.875rem;
}

.dai-pw-input{
    width: 100%;
    height: 100%;
    padding-left: 80px;
    border: 3px solid var(--primary-color);
    border-radius: 5px;
}

.dai-register-pw-input-container .dairegister-pw-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 1.25rem;
    font-weight: 500;
    color: #676974;
}

.dai-register-remark-input-container{
    width: 100%;
    height: 9.375rem;
    /* position: relative; */
    margin-bottom: 1.875rem;
}

.dai-remark-input{
    width: 100%;
    height: 100%;
    padding-left: 10px;
    border: 3px solid var(--primary-color);
    border-radius: 5px;
    resize: none;
}

/* .dai-register-remark-input-container p{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 0.875rem;
    font-weight: 500;
    color: #676974;
} */

.dai-register-btn{
    padding: 10px 60px;
    border: none;
    background-color: var(--secondary-color);
    font-size: 1.125rem;
    color: white;
    border-radius: 5px;
    /* text-align: center; */
    display: block;
    margin: auto;
    /* margin-top: 3.125rem; */
}