.header{
    width: 100%;
    height: 100px;
    background-color: #5D5E6B;
}

.header-content-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1300px;
    margin: auto;
}

.language-container{
    display: flex;
    align-items: center;
}

.flag-container{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 5px;
}

.flag-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* .header-btn-container{

} */

.login-btn{
    padding: 5px 20px;
    background-color: #FF5B5B;
    border: none;
    color: white;
    border-radius: 7px;
    margin-right: 5rem;
}

.signup-btn{
    padding: 5px 20px;
    background-color: #D9DEED;
    border: none;
    color: #676974;
    border-radius: 7px;
}

@media screen and (max-width:1600px){
    .header{
        height: 80px;
    }
}