.navbar-container{
    width: 100%;
    height: 120px;
    max-width:1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.logo{
    font-size: 1.563rem;
    font-weight: 600;
}

.navbar-links-container a{
    text-decoration: none;
    color: #676974;
    font-size: 1.125rem;
}

.navbar-links-container a:not(:last-child){
    margin-right: 2.188rem;
}

.navbar-btn-container button{
    padding: 10px;
    border: none;
    background-color: #FF5B5B;
    border-radius: 10px;
    color: white;

}

.navbar-btn-container button:not(:last-child){
    margin-right: 1.875rem;
}

@media screen and (max-width:1600px){
    .navbar-container{
        height: 80px;
    }
}