@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

/* body{
    padding: 0;
    border: 0;
    box-sizing: border-box;
} */

button{
    cursor: pointer;
    display: inline-block;
}

:root{
    --primary-color: #D9DEED;
    --primary-color-light: #F2F5F8;
    --secondary-color: #FF5B5B;
}

@media screen and (max-width:1600px){
    *{
        font-size: 14px;
    }
}

