.threed-parent-container{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-gap: 10px;
    /* grid-template-rows: 1fr; */
}

.threed-view-container{
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
    border-radius: 15px;
    padding-bottom: 20px;
}

.threed-navbar{
    display: flex;
    align-items: center;
}

.threed-navbar p{
    padding: 10px;
    /* border-right: 1px solid black; */
    font-size: 1.125rem;
    cursor: pointer;
}

.threed-navbar .active{
    color: var(--secondary-color);
    font-weight: 600;
    background-color: var(--primary-color-light);
    border-top: 2px solid var(--secondary-color);
}

.threed-op-record-parent-container{
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
    border-radius: 15px;
    padding: 20px;
}

.threed-op-record-header{
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.875rem;
}

.threed-op-record-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-top: 20px;
}

.threed-op-record-number-container{
    display: flex;
    align-items: center;
}

.threed-op-record-number-container p{
    padding: 2px 10px;
    font-size: 1.125rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
    color: white;
}

.threed-op-record-number-container p:not(:last-child){
    margin-right: 5px;
}
